* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.buttons-field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
  padding: 15px;
}

.button {
  cursor: pointer;
  min-width: 100px;
  min-height: 30px;
  margin: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(221, 103, 103);
  font-size: 20px;
  text-align: center;
  padding: 10px 15px;
}

.button.start {
  background-color: rgb(100, 199, 90);
}

.button:hover,
.button:focus {
  background-color: rgba(161, 161, 161, 0.5);
}

.button:disabled {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(102, 97, 97, 0.5);
  cursor: not-allowed;
}
